
<div class="contact-section">
<h2>Contato</h2>
<div class="social-links">
  <div class="contact-buttons">
    <a href="https://wa.me/5562993956914?text=Olá%2C%20vim%20pelo%20site!" class="social-link" target="_blank" rel="noopener">
    WhatsApp
    </a>

    <a href="{{ get_url(path='@/c.md') }}" class="social-link">
      Mensagem
    </a>
  </div>

  <a href="https://instagram.com/vini.kran" class="social-link social-instagram" target="_blank" rel="noopener">
    @vini.kran [Instagram]
  </a>
</div>
</div>