<div class="menu-overlay" aria-hidden="true">

    <nav class="menu-content">

        <a href="/t">Pele: Tattoo</a>
        <a href="/p">Tela: Pintura a óleo</a>
        <a href="/d">Papel: Sketchbook</a>
        <p>- - -</p>
        <a href="https://wa.me/5562993956914?text=Olá%2C%20vim%20pelo%20site!" target="_blank" rel="noopener">WhatsApp</a>
        <a href="/c">Formulário</a>
          <a href="https://instagram.com/vini.kran" target="_blank" rel="noopener"> Instagram</a>

    </nav>

</div>